// COLORS
:root {
   --color-primary-gray-blue: hsl(237, 18%, 59%);
   --color-primary-soft-red: hsl(345, 95%, 68%);

   --color-secondary-white: hsl(0, 0%, 100%);
   --color-secondary-dark-blue: hsl(236, 21%, 26%);
   --color-secondary-very-dark-blue: hsl(235, 16%, 14%);
   --color-secondary-almost-black-blue: hsl(234, 17%, 12%);
}
