.social__icons {
  display: flex;
  justify-content: center;
  column-gap: 3rem;

  .social__icon {
    fill: var(--color-primary-gray-blue);
    transition: all 0.2s ease-in-out;
    width: 2.4rem;
    height: 2.4rem;

    transition: all 0.2s;
  }

  a:hover .social__icon {
    fill: var(--color-primary-soft-red);
  }
}
