body {
  height: 100vh;
  width: 100vw;

  // BACKGROUND IMAGES
  background-color: var(--color-secondary-very-dark-blue);
  background-image: url("/img/pattern-hills.svg"), url("/img/bg-stars.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;

  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  padding: 0 2.4rem;
  text-align: center;
  max-width: 65.8rem;
}

.header {
  margin-top: 10rem;
}

.countdown {
  margin-top: 10rem;
}

.footer {
  margin-top: auto;
  margin-bottom: 8rem;
}
